{
  "parser": "typescript",
  "plugins": ["@prettier/plugin-oxc", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^\\./instrument$",
    "<THIRD_PARTY_MODULES>",
    "^@echonote/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "indentStyle": "space",
  "indentWidth": 2,
  "lineWidth": 80
}
